# -*- mode: conf -*-
*~
__pycache__
*.qmlc
.directory
trash.py
test.py
#
Babel/GUI/Base/BabelRessource.py
Babel/GUI/ui/critical_error_form_ui.py
Babel/Lexique/BritishNationalCorpus/bnc.sqlite
_mupdf.c
_mupdf.cpython-36m-x86_64-linux-gnu.so
build/
doc/sphinx/build/
doc/sphinx/source/api/
share/BabelRessource.py
share/babel.rcc
#
devel-test/
ged-local/
notes/
old-vcs/
pdf-pool/
ressources/divers/
ressources/indexer-test/
ressources/lexiques/
ressources/screenshots/
ressources/softwares/
ressources/unsupported-pdf/
tools/upload-www
trash/
#
BabelBuild/MuPdf/try-catch.c
doc/sphinx/source/_static/babel1.png
doc/sphinx/source/_static/babel2.png
doc/sphinx/source/_static/babel3.png
doc/sphinx/source/_static/babel4.png
doc/sphinx/source/donate.rst-
du.log
foo.png
loop-on-pdf-pool.sh
notes.txt
ressources/du.log
share/babel.qrc-disabled
share/icons/36x36-unused/
share/qml/trash.qml
text.txt
todo.sh
unit-test/BibTeX/mendeyley.bib
unit-test/BibTeX/test1.bib
workspace/babel
workspace/pdf-pool
workspace/test-directory/
workspace/test/
