*~
__pycache__
*.qmlc
.directory

Babel/GUI/Base/BabelRessource.py
_mupdf.c
_mupdf.cpython-36m-x86_64-linux-gnu.so
build/
doc/sphinx/build/
doc/sphinx/source/api/
share/BabelRessource.py
share/babel.rcc

BabelBuild/MuPdf/try-catch.c
devel-test/
doc/sphinx/source/_static/babel1.png
doc/sphinx/source/_static/babel2.png
doc/sphinx/source/_static/babel3.png
doc/sphinx/source/_static/babel4.png
doc/sphinx/source/donate.rst-
du.log
foo.png
ged-local/
loop-on-pdf-pool.sh
notes.txt
notes/
old-vcs/
pdf-pool/
ressources/divers/
ressources/du.log
ressources/indexer-test/
ressources/lexiques/
ressources/screenshots/
ressources/softwares/
ressources/unsupported-pdf/
share/babel.qrc-disabled
share/icons/36x36-unused/
share/qml/trash.qml
test.py
text.txt
todo.sh
tools/upload-www
trash.py
trash/
unit-test/BibTeX/mendeyley.bib
unit-test/BibTeX/test1.bib
workspace/babel
workspace/pdf-pool
workspace/test-directory/
workspace/test/
