# -*- mode: conf -*-
*~
__pycache__
#
build/
Babel/GUI/ui/*_ui.py
#
doc/sphinx/build
doc/sphinx/old-api
doc/sphinx/source/api
#
bzr/
#
database/
Babel/Lexique/BritishNationalCorpus/bnc.sqlite
#
BabelBuild/MuPdf/api-tools/fitz-cleaned.h
BabelBuild/MuPdf/api-tools/fitz-from-cpp.h
BabelBuild/MuPdf/api-tools/fitz.h
BabelBuild/MuPdf/api-tools/mupdf-usage.txt
BabelBuild/MuPdf/api-tools/pdf.h
BabelBuild/MuPdf/example.c
BabelBuild/MuPdf/mupdf-api.h-orig
BabelBuild/MuPdf/try-catch.c
#
_mupdf.cpython-35m-x86_64-linux-gnu.so
bug.txt
build-log.txt
doc/mendeley-data/
du.log
ignored
loop-on-pdf-pool.sh
notes.txt
#
notes/2014-08-18-Note-21-21.xoj
notes/api/google-scholar/notes.txt
notes/bugs.txt
notes/cmupdf-usage.txt
notes/code-template.txt
notes/dolphin-notes.txt
notes/features.txt
notes/initialisation.txt
notes/mendeley/mendeley-api-python-catalog-example/
notes/mendeley/mendeley-api-python-example/
notes/mendeley/mendeley-python-sdk/
notes/mupdf-exception.txt
notes/mupdf-usage.txt
notes/path-file-document.diff
notes/pdf-browser-notes.txt
#
pdf-pool/
screenshots/
test/
trash/
#unit-test/BibTeX/mendeyley.bib
#unit-test/BibTeX/test1.bib
unsupported-pdf/
#
workspace/local-babel
workspace/metaclass-error.txt
workspace/pdf-pool
workspace/pdf-xml-dump-char.txt
workspace/pdf-xml-dump.txt
workspace/profiles/
workspace/test-directory/
workspace/test.pdf
