[Desktop Entry]

Encoding=UTF-8
Name=babel
Comment=A Bibliography Manager
Icon=babel
Exec=babel
Terminal=false
Type=Application
Categories=Electronics;
Comment[fr]=
